:root .Component {
  --input-field-value-font-size:        14px;
  --input-field-label-font-size:        14px;
  --input-field-label-active-font-size: 11px;
}

.Component * {
  display:    flex;
  position:   relative;
  box-sizing: border-box;
}

.Component:global(.color-picker) {
  display:               grid;
  grid-template-columns: min-content auto;
  grid-template-rows:    auto min-content;
  grid-column-gap:       8px;
  grid-row-gap:          8px;
  border:                1px solid black;
  border-radius:         5px;
  padding:               5px;
}

.Component:global(.color-picker .color-picker-display) {
  flex: 0 0 auto;
}

.Component:global(.color-picker .color-picker-control) {
  flex:            0 0 auto;
  grid-column-gap: 8px;
  justify-content: center;
}

.Component:global(.color-picker .color-picker-control-value) {
  width:  8px;
  height: 100%;
  border: 1px solid black;
}

.Component:global(.color-picker .color-picker-control-alpha) {
  width:  8px;
  height: 100%;
  border: 1px solid black;
}

.Component:global(.color-picker .color-picker-control-cursor) {
  position:         absolute;
  left:             -4px;
  right:            -4px;
  border:           1px solid black;
  background-color: white;
  height:           6px;
  transform:        translateY(-50%);
}

.Component:global(.color-picker .color-picker-preview) {
  width:  40px;
  height: 40px;
  border: 1px solid black;
}

.Component:global(.color-picker .color-picker-window) {
  flex:   1 1 auto;
  height: 200px;
  border: 1px solid black;
}

.Component:global(.color-picker .color-picker-window:before), .Component:global(.color-picker .color-picker-window:after) {
  content:  " ";
  position: absolute;
  top:      0;
  left:     0;
  right:    0;
  bottom:   0;
}

.Component:global(.color-picker .color-picker-window:before) {
  background: linear-gradient(to right, rgb(255, 255, 255), rgba(255, 255, 255, 0));
}

.Component:global(.color-picker .color-picker-window:after) {
  background: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0));
}

.Component:global(.color-picker .color-picker-window-cursor) {
}

.Component:global(.color-picker .color-picker-info .input-field-title) {
}

.Component:global(.color-picker .color-picker-info .input-field-title.active) {
}

.Component:global(.color-picker .color-picker-info .input-field-value) {
}

.Component:global(.color-picker .color-picker-info-hex) {
  width: 75px;
}

.Component:global(.color-picker .color-picker-info-hex input) {
  font-family: monospace;
}


.Component:global(.color-picker .color-picker-info .color-picker-info-red) {
  width: 45px;
}

.Component:global(.color-picker .color-picker-info .color-picker-info-blue) {
  width: 45px;
}

.Component:global(.color-picker .color-picker-info .color-picker-info-green) {
  width: 45px;
}

.Component:global(.color-picker .color-picker-info .color-picker-info-alpha) {
  width: 45px;
}


/*<div className={"color-picker-display"}>*/
/*  <div className={"color-picker-controls"}>*/
/*    <div className={"color-picker-control-value"}></div>*/
/*    <div className={"color-picker-control-alpha"}></div>*/
/*    <div className={"color-picker-preview"}></div>*/
/*  </div>*/
/*  <div className={"color-picker-window"}>*/
/*    <div className={"color-picker-cursor"}/>*/
/*  </div>*/
/*  <div className={"color-picker-info"}>*/
/*    <input className={"color-picker-info-hex"}/>*/
/*    <input className={"color-picker-info-red"}/>*/
/*    <input className={"color-picker-info-blue"}/>*/
/*    <input className={"color-picker-info-green"}/>*/
/*    <input className={"color-picker-info-alpha"}/>*/
/*  </div>*/
/*</div>*/
