:root .Component {
  --range-dimension:                    10px;
  --range-alpha-background:             0, 0, 0;
  --input-field-value-font-size:        14px;
  --input-field-label-font-size:        14px;
  --input-field-label-active-font-size: 11px;
}

.Component * {
  display:    flex;
  box-sizing: border-box;
  position:   relative;
}

.Component:global(.color-picker) {
  display:               grid;
  grid-row-gap:          8px;
  grid-column-gap:       8px;
  grid-template-rows:    auto min-content;
  grid-template-columns: min-content auto;
  padding:               5px;
  border:                1px solid black;
  border-radius:         5px;
}

/* ----- Control ----- */

.Component:global(.color-picker .color-picker-control) {
  flex:            0 0 auto;
  justify-content: center;
  grid-column-gap: 12px;
}

.Component:global(.color-picker .color-picker-range-alpha .range-bar::after),
.Component:global(.color-picker .color-picker-range-alpha .range-bar::before) {
  content:  " ";
  position: absolute;
  top:      0;
  left:     0;
  right:    0;
  bottom:   0;
}

.Component:global(.color-picker .color-picker-range-alpha .range-bar::after) {
  background: linear-gradient(to top, rgba(var(--range-alpha-background), 0) 0%, rgb(var(--range-alpha-background)) 100%);
}

.Component:global(.color-picker .color-picker-range-alpha .range-bar::before) {
  background: repeating-conic-gradient(#ebebeb 0% 25%, transparent 0% 50%) 50% / 10px 10px;
}

.Component:global(.color-picker .color-picker-range-hue) {
  background-image: linear-gradient(
                        to top,
                        rgb(255, 0, 0) 0%,
                        rgb(255, 255, 0) 17%,
                        rgb(0, 255, 0) 33%,
                        rgb(0, 255, 255) 50%,
                        rgb(0, 0, 255) 67%,
                        rgb(255, 0, 255) 83%,
                        rgb(255, 0, 0) 100%);
}

/* ----- Window ----- */

.Component:global(.color-picker .color-picker-window) {
  flex:            0 0 auto;
  justify-content: center;
  grid-column-gap: 8px;
  padding-bottom:  calc(100% - 2px);
  border:          1px solid black;
}

.Component:global(.color-picker .color-picker-window:before),
.Component:global(.color-picker .color-picker-window:after) {
  content:  " ";
  position: absolute;
  top:      0;
  left:     0;
  right:    0;
  bottom:   0;
}

.Component:global(.color-picker .color-picker-window:before) {
  background: linear-gradient(to right, rgb(255, 255, 255), rgba(255, 255, 255, 0));
}

.Component:global(.color-picker .color-picker-window:after) {
  background: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0));
}

.Component:global(.color-picker .color-picker-window-cursor) {
  width:         10px;
  height:        10px;
  position:      absolute;
  z-index:       1;
  transform:     translate(-50%, -50%);
  border:        1px solid white;
  border-radius: 50%;
  box-shadow:    0 0 0 1px black inset;
}

/* ----- Preview ----- */

.Component:global(.color-picker .color-picker-preview) {
  width:      40px;
  height:     40px;
  background: repeating-conic-gradient(#ebebeb 0% 25%, transparent 0% 50%) 50% / 10px 10px;
  border:     1px solid black;
}

.Component:global(.color-picker .color-picker-preview::before) {
  content:    " ";
  position:   absolute;
  top:        0;
  left:       0;
  right:      0;
  bottom:     0;
  z-index:    -1;
  background: repeating-conic-gradient(#ebebeb 0% 25%, transparent 0% 50%) 50% / 10px 10px;
}

/* ----- Input ----- */

.Component:global(.color-picker .color-picker-info) {
  grid-column-gap: 5px;
}

.Component:global(.color-picker .color-picker-input) {
  font-family: monospace;
}

.Component:global(.color-picker .color-picker-type) {
  width: 60px;
}

.Component:global(.color-picker .color-picker-type .input-field-dropdown-option) {
  padding:     4px;
  font-size:   var(--input-field-value-font-size);
  line-height: var(--input-field-value-font-size);
}

.Component:global(.color-picker .color-picker-input.hsva-hue),
.Component:global(.color-picker .color-picker-input.hsva-saturation),
.Component:global(.color-picker .color-picker-input.hsva-value),
.Component:global(.color-picker .color-picker-input.hsva-alpha),
.Component:global(.color-picker .color-picker-input.hsla-hue),
.Component:global(.color-picker .color-picker-input.hsla-saturation),
.Component:global(.color-picker .color-picker-input.hsla-lightness),
.Component:global(.color-picker .color-picker-input.hsla-alpha),
.Component:global(.color-picker .color-picker-input.rgba-red),
.Component:global(.color-picker .color-picker-input.rgba-green),
.Component:global(.color-picker .color-picker-input.rgba-blue),
.Component:global(.color-picker .color-picker-input.rgba-alpha) {
  width: 45px;
}

.Component:global(.color-picker .color-picker-input.hex) {
  width: 195px;
}


