.Component {
  width:      34px;
  height:     34px;
  position:   relative;
  border:     1px solid black;
  background: repeating-conic-gradient(#ebebeb 0% 25%, transparent 0% 50%) -1px -1px / 9px 9px;
}

.Component::before {
  content:    " ";
  position:   absolute;
  inset:      0;
  z-index:    -1;
  background: repeating-conic-gradient(#ebebeb 0% 25%, transparent 0% 50%) -1px -1px / 9px 9px;
}
